<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Document</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>This is the header of express-session_lab</header>
        <main>
            {{{body}}}
        </main>
        <footer>This is the footer of express-session_lab</footer>
    </body>
</html>