*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    height: 15vh;
    background: darkblue;
}

main {
    min-height: 70vh;
    background: lightblue;
}